/* line 4, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 15, ../sass/style.scss */
body {
  display: flex;
  justify-content: center;
  background-color: #cccccc;
}

/* line 22, ../sass/style.scss */
.home {
  position: absolute;
  top: 100px;
  left: 50%;
  height: 300px;
  width: 470px;
  transform: translateX(-50%);
}
/* line 30, ../sass/style.scss */
.home h2 {
  text-align: center;
  background-color: yellow;
  padding: 20px;
  border: solid 5px #000;
  margin-left: 50px;
}
/* line 40, ../sass/style.scss */
.home .top {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}
/* line 44, ../sass/style.scss */
.home .top .top_left {
  position: relative;
  width: 90%;
  height: 100px;
  z-index: 1;
  background-color: #803300;
  transform: skewX(-40deg);
}
/* line 53, ../sass/style.scss */
.home .top .top_right {
  position: absolute;
  top: 0;
  right: -20%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px  100px;
  border-color: transparent transparent #aa4400 transparent;
  z-index: 2;
}
/* line 66, ../sass/style.scss */
.home .bottom {
  position: relative;
  width: 110%;
  height: 70%;
  background-color: #452;
  background-image: url("star.png");
}
/* line 73, ../sass/style.scss */
.home .bottom .door1 {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 20%;
  height: 70%;
  background-color: #f8f1f6;
}
/* line 82, ../sass/style.scss */
.home .bottom .door1:after {
  position: absolute;
  top: 50%;
  left: 5px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #452;
}
/* line 93, ../sass/style.scss */
.home .bottom .door2 {
  position: absolute;
  top: 0;
  right: -3%;
  width: 25%;
  height: 100%;
  background-color: #f5f5f5;
}
/* line 103, ../sass/style.scss */
.home .bottom .door2:after {
  position: absolute;
  bottom: 0;
  left: 25%;
  content: "";
  width: 50%;
  height: 70%;
  background-color: #452;
}
/* line 114, ../sass/style.scss */
.home .bottom .windows {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 20%;
  height: 30%;
  background-color: #f5f5f5;
}
/* line 123, ../sass/style.scss */
.home .bottom .windows .fen1, .home .bottom .windows .fen2 {
  position: absolute;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.6), 0 10px 0 1px rgba(0, 0, 0, 0.6), 0 20px 0 1px rgba(0, 0, 0, 0.6), 0 30px 0 1px rgba(0, 0, 0, 0.6), 0 40px 0 1px rgba(0, 0, 0, 0.6), 0 50px 0 1px rgba(0, 0, 0, 0.6);
  top: 5px;
  width: 45%;
  height: 0;
  border-bottom: solid 2px rgba(0, 0, 0, 0.6);
}
/* line 133, ../sass/style.scss */
.home .bottom .windows .fen1 {
  left: 1px;
}
/* line 136, ../sass/style.scss */
.home .bottom .windows .fen2 {
  right: 1px;
}
